body { 
    background: #1c1c1c;
    margin: 0 
}
#SnakeGame { 
    display: block;
    image-rendering: pixelated; 
    margin-left: auto;
    margin-right: auto;

    -ms-transform-origin: center top; 
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top; 
    -o-transform-origin: center top;
    transform-origin: center top;
}