// dark!
:root {
  color-scheme: dark;
  --accent-dark: hsl(270, 90%, 5%);
  --accent-light: hsl(293, 88%, 84%);

  background-color: var(--accent-dark);
}
body {
  background-color: transparent;
}

// logical sizing
* { box-sizing: border-box; }
